.search-list{
    width:100%;
    list-style: none;
    padding: 0;
    max-height: 200px; 
    overflow-y: auto;
}

.search-item{
    background-color: #f8f9fa;

    padding: 12px 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e3e3e3;
}

.search-item:hover{
    transform: translate(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.01);
    cursor: pointer;
}

.search-item h3 {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}